:root {
  --main-color: #212121;
  --background: #ffffff;
  --main-text: #212121;
  --secondary-text: #757575;
  --color-active: #2196f3;
  --color-logo: #000000;
  --bacground-button: #f5f4fa;
  --background-footer: #2f303a;
}
body {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/* ===========logo========== */
.logo-first {
  color: var(--color-active);
}
.logo-second {
  color: var(--color-logo);
}

/* ===========header========== */
.nav {
  color: var(--main-color);
}
.nav:hover,
.nav:focus {
  color: var(--color-active);
}
.contacts {
  color: var(--secondary-text);
}
.contacts:hover,
.contacts:focus {
  color: var(--color-active);
}
/* =======footer==== */
.footer {
  background-color: var(--background-footer);
}
.footer .logo-first {
  color: var(--color-active);
}
.footer .logo-second,
.address {
  color: var(--background);
}

.logo-first,
.logo-second {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.footer .contacts {
  color: rgba(255, 255, 255, 0.6);
}
