:root {
  --main-color: #212121;
  --background: #ffffff;
  --main-text: #212121;
  --secondary-text: #757575;
  --color-active: #2196f3;
  --color-logo: #000000;
  --bacground-button: #f5f4fa;
  --background-footer: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
}
body {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/* ===========logo========== */
.logo-first {
  color: var(--color-active);
}
.logo-second {
  color: var(--color-logo);
}

/* ===========header========== */
.nav-link {
  color: var(--main-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-active);
}
.contacts {
  color: var(--secondary-text);
}
.contacts:hover,
.contacts:focus {
  color: var(--color-active);
}
.nav-link .current {
  font-weight: 900;
  color: red;
  background-color: lawngreen;
}
/* =======footer==== */
.footer {
  background-color: var(--background-footer);
}
.footer .logo-first {
  color: var(--color-active);
}
.footer .logo-second,
.address {
  color: var(--background);
}

.logo-first,
.logo-second {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer .address,
.footer .contacts {
  font-style: normal;
}
.footer .contacts {
  color: var(--footer-contacts);
}
/* ================Filters============== */
.buttons {
  background-color: var(--background);
}
.filters-all,
.filters-web,
.filters-app,
.filters-design,
.filters-marketing {
  background-color: var(--bacground-button);
}
.filters-all:hover,
.filters-web:hover,
.filters-app:hover,
.filters-design:hover,
.filters-marketing:hover .filters-all:focus,
.filters-web:focus,
.filters-app:focus,
.filters-design:focus,
.filters-marketing:focus {
  background-color: var(--color-active);
  color: var(--background);
}
